[defaults]
nocows = True
inventory  = ./inventory/
vault_password_file = ./.vault_password
interpreter_python = auto_silent

# For the prometheus config playbook
allow_broken_conditionals = True

[inventory]
enable_plugins=constructed, community.proxmox.proxmox, yaml
